@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ec4899;
  --primary: #ec4899;
  --secondary: #d83c87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d83c87;
    --foreground: #ffffff;
    --primary: #ec4899;
    --secondary: #ec4899;
  }
}

body {
  background-image: url('/images/floral_bg_main.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}